<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h2>Welcome, {{ user.username }}!</h2>
    <form action="/q/create" method="get">
        {% csrf_token %}
        <button type="submit">create_quiz</button>
    </form>

    <form action="/q/join_room/" method="get">
        {% csrf_token %}
        <button type="submit">join</button>
    </form>

    <form action="/logout/" method="post">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form>

</body>
</html>